.zc-ref {
  display: none;
}

#myChart, body, html {
  height: 100%;
  width: 100%;
}

.jumbotron {
  position: relative;
  padding: 5px !important;
  margin-top: 70px !important;
  background: #eee;
  margin-top: 23px;
  text-align: center;
  margin-bottom: 0px !important;
}

.container-fluid {
  padding: 0 !important;
}

.panel {
  padding: 0px;
  height: 53%;
}

.col-sm-8 {
  padding-right: 0;
  padding-left: 0;
}

.col-sm-4 {
  padding-right: 0;
  padding-left: 0;
}

.padding-0 {
  padding-right: 0;
  padding-left: 0;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child), .row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}